{% macro blog_card(post) -%}
  <div class="card" >
      <div class="card-body">
          <h2 class="card-title">{{post.title}}</h2>
          <h6 class="card-subtitle mb-2 text-muted">{{moment(post.published_at).format('MMMM Do, YYYY')}}</h6>
          <p class="card-text">{{post.summary}}</p>
          <a href="{{url_for('blog.post', post_name=post.slug)}}" class="card-link">More..</a>
      </div>
  </div>
{%- endmacro %}

{% macro blog_summary(post) -%}
    <div class="blog-post card">
        <div class="card-body">
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta">{{moment(post.published_at).format('MMMM Do, YYYY')}} by
            <a href="#">{{post.author.first_name}}</a>
            {% if post.tags %}
            Tags:
                {% for tag in post.tags %}
                    <a href="#" class="badge badge-secondary">{{tag}}</a>
                {% endfor %}
            {% endif %}
            </p>
            <p class="card-text">{{post.summary}}</p>
            <a href="{{url_for('blog.post', post_name=post.slug)}}" class="card-link">More..</a>

        </div>
    </div>

{%- endmacro %}

{% macro prof_exp_header(company, title, start, end, group, location ) -%}
<div class="row justify-content-between education-row">
    <div class="col-md-7">
        <h3>{{title}} {%if group %}- {{group}}{% endif %}</h3>
    </div>
    <div class="col-md-4">
        <p class="right-date">{{start}} - {{end}}</p>
    </div>
</div>
<p>{{company}} – {{location}}</p>


{%- endmacro %}

{%- macro comments(page) %}
{% if page.comments_enabled %}
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = {{config['HYVOR_TALK_WEBSITE']}}; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: false,
        id: '{{page.slug}}'
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
{% endif %}
{%- endmacro %}
