{% extends "base.html" %}
{% from 'macros.html' import portfolio_entry %}

{%block banner_content %}
Portfolio
{%endblock banner_content %}
{% block content %}


<style>
.h2-row {
    padding-bottom: 2rem;
}
h2 {
    padding-bottom: 1rem;
}
</style>
        <div class="h2-row row">
            <h2>Projects</h2>

            <div class="col-md-11 offset-md-1">

                {{portfolio_entry(
                    'Hauberk',"https://hauberk.readthedocs.io/en/latest/index.html",
                    "An email automation framework written in Python.  Currently in Alpha status."
                )}}

                {{portfolio_entry(
                    "PRENE",
                    "#",
                    "Personalized Reddit Newsletter"
                )}}

            </div>
        </div>


        <div class="h2-row row">
            <h2>Scripts</h2>
            <div class="col-md-11 offset-md-1">
                <!--Scanning-->
                {{portfolio_entry(
                    "PDF Scanning Script",
                    "https://github.com/akail/pdfscanner",
                    "This Python script uses the SANE libraries on Linux to scan documents from flatbed scanner"
                    "and then will convert the document to a PDF.  It will coallate multiple pages together and"
                    "post process with OCR using Tesseract."
                )}}
            </div>
        </div>


        {#
        <div class="h2-row row">
            <h2>Utilities</h2>
            <div class="col-md-11 offset-md-1">
                <!--Health Insurance Calculator-->
                <div class="row">
                    <h3><a href="/extra/healthinsurancecomparison.ods">Health Insurance Comparison</a></h3>
                </div>
                <div class="row">
                    <p class="lead">
                    A spreadsheet that can be used to compare Health Insurance plans.  I wrote this when I needed to make
                    a decision between my Wife and I's different health plans.  Includes the option to include HSA seed money and is focused
                    on In-Network expenses.
                    </p>
                </div>
                <!--End Health Insurance Calculator-->
            </div>
        </div>
        #}


        <div class="h2-row row">
            <h2>Managed Websites</h2>
            <div class="col-md-11 offset-md-1">
                {{portfolio_entry(
                    "South Carolina Academy of Sciences",
                    "https://scacademysci.org",
                    ""
                )}}
                {{portfolio_entry(
                    "Aiken Church of Christ",
                    "https://aiken.church",
                    ""
                )}}
            </div>
        </div>

        <div class="h2-row row">
            <h2>Other</h2>
            <div class="col-md-11 offset-md-1">
                {{portfolio_entry(
                    "Config Files",
                    "https://github.com/akail/Configs",
                    "Personal linux configs for bash, vim, nvim, tmux, and tmuxp."
                )}}
                {{portfolio_entry(
                    "Home-Assistant",
                    "https://github.com/akail/homeassistant",
                    "Personal Configuration files for the Home-Assistant home automation platform."
                )}}

            </div>
        </div>
            </div>
        </div>
    </div>
{% endblock content %}
