{% extends "base.html" %}
{% from 'macros.html' import prof_exp_header, resume_skills, resume_education %}

{%block banner_content %}
Resume
{%endblock banner_content %}
{% block content %}

<style>
h2 {
    padding-top: 2rem;
}
.education-row {
    padding-top: 1rem;
}
</style>

<div class="row">
    <div class="col-md-12">
        <h2>Professional Experience</h2>
        {{prof_exp_header(
            'Data in Science Technologies',
            'HPC Advisory Scientific Engineer',
            'June 2020',
            'Present',
            None,
            'Aiken, SC'
        )}}
        <ul>
        </ul>

        {{prof_exp_header(
            'Savannah River National Laboratory',
            'Senior Scientist',
            'Dec 2013',
            'June 2020',
            'Integrated Computing',
            'Aiken, SC'
        )}}

        <ul>
            <li>Re-implemented legacy infrastructure management system using modern technology stack</li>
            <li>Improved the reliability and efficiency in quality assurance of locally collected atmospheric data</li>
            <li>Oversaw the writing and implementation of cyber security baselines</li>
            <li>Developed application development pipeline to reduce mean time to application deployment</li>
            <li>Managed a team in development of an on-boarding protocol for an inter-laboratory working group</li>
            <li>Acted as subject matter expert for new forays into data analytics and machine learning</li>
            <li>Centralized code repositories in the Phabricator code development platform</li>
        </ul>
        {{prof_exp_header('Joint Institue for Computational Sciences',
        'Graduate Research Assistant',
        'Sep 2011',
        'Dec 2020',
        None,
        'Knoxville, TN'
        )}}
        <ul>
            <li>Developed incompressible Navier-Stokes solver and utilities for the multiphysics package OpenDIEL</li>
            <li>Designed and developed highly parallelized software to run on large-scale supercomputers</li>
            <li>Built CAD models and grids for Finite Element Analysis applications</li>
            <li>Mentored and instructed undergraduate students in the use of HPC systems for a summer research program</li>
        </ul>

        <h2>Education</h2>
        {{resume_education(
            "Doctor of Philosophy in Computer and Information Science",
            "Current",
            "University of Arkansas Little Rock, Little Rock, AR"
        )}}

        {{resume_education(
            "Master of Science in Aerospace Engineering",
            "Aug 2013",
            "University of Tennessee	Knoxville, TN"
        )}}

        {{resume_education(
            "Bachelor of Science in Aerospace Engineering",
            "May 2011",
            "University of Tennessee	Knoxville, TN"
        )}}

        <h2>Technical Competencies</h2>

        {{resume_skills('Languages', 'Python, Bash, Javascript, C/C++, Fortran')}} 

        {{resume_skills('Operating Systems',' Red Hat Enterprise Linux, Debian Linux, Arch Linux')}}
        {{resume_skills('Technologies',' Machine Learning, Docker, Podman, Saltstack, Ansible')}}
        {{resume_skills('Applications',' PostgreSQL, MySQL, Git, Apache, Slurm, Easy Build, Zabbix, Mercurial, MOAB, Subversion, Nginx')}}
        {{resume_skills('Methodologies',' Numerical Analysis, Finite Element Analysis')}}
        {{resume_skills('Certifications',' Applied Data Science with Python')}}


        <h2>Publications</h2>
        <ul>
            <li>“Interoperable Executive Library for the Simulation of Biomedical Processes.” Journal of Computational and Applied Mathematics, Volume 270, November 2014</li>
            <li>“Solving a Large Scale Thermal Radiation Problem Using an Interoperable Executive Library Framework on Petascale Supercomputers.” AMMCS-2013 Proceedings, September 2013</li>
        </ul>
        <h2>Presentations</h2>
        <ul>
            <li>Presenter, “SRNL Scientific Computing: Built on Python” Symposium on Research Computing Infrastructure, Spring 2017</li>
            <li>Presenter, “Integrated Asset and Resource Management at SRNL Scientific Computing” National Laboratory Information Technology Summit 2016</li>
            <li>Presenter, “Automated Quality Assurance of Atmospheric Data” National Laboratory Information Technology Summit 2015</li>
        </ul>
        <h2>Professional Societies</h2>
        <ul>
            <li>ACM</li>
            <!--<li>IEEE</li>-->
        </ul>

        <h2>Volunteer Work</h2>
        <ul>
            <li>Ministry Leader of events at Aiken Church of Christ</li>
            <li>Lead Counselor, Camp Sweet Life</li>
            <li>South Carolina Academy of Sciences Website
        </ul>
    </div>
</div>
{% endblock content %}
