{% extends "base.html" %}
{% from 'macros.html' import comments %}
{% block banner_content %}{{post.title}}{% endblock %}
{% block styles %}
    {{ super()}}
    <link rel="stylesheet" href="/static/css/blog/posts.css"/>
{% endblock styles %}


{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <hr class='style14'>
        <br>
        <p class="blog-post-meta">{{moment(post.published_at).format('MMMM Do, YYYY')}} by
        <a href="#">{{post.author.first_name}}</a>
        </p>
        {{post.content|safe}}

    </div>

    {{comments(post)}}

{% endblock content %}
